
 a {
    color: #333;
    padding: 5px;
    
  }

  a.active{
    border-radius: 10px;
    color: white;
    background: #425BDD;
    text-decoration: none;
  }

  .sidebar.closed-sidebar {
    width: 0px !important;
    visibility: hidden;
    margin-right: 0;
  }

  @media screen and (max-width:524px) and (min-width:324px){
    .stats-card{
      display: flex;
     margin: auto;
    }
  }

  .ggg{
    width: 300px !important;
  }

  
 